
.alwan-mn-3ndi {
    color:whitesmoke;
    background-color: rgb(103, 88, 63);
    border-color: goldenrod;
}
img{
    border-radius: 10px;
}
.alwan-mn-3ndi-2 {
    color: whitesmoke;
    background-color: rgb(57, 57, 57);
    border-color: gold;
}
.alwan-mn-3ndi-3 {
    color: whitesmoke;
    background-color: rgb(83, 83, 83);
    border-color: gold;
}
div {
    border-color: goldenrod;
}